version: '3'
services:
  app:
    build: .
    entrypoint: .docker/entrypoint.sh
    container_name: crypto_offers_app
    restart: always
    ports:
      - '8000:8000'
    volumes:
      - .:/home/node/app
    depends_on:
      - db
  db:
    build: .docker/postgres
    container_name: crypto_offers_db
    restart: always
    tty: true
    ports:
      - '5432:5432'
    volumes:
      - .docker/dbdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=crypto_offers
